@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");

:root {
  --background-color: #070510;
  --primary-color: #0d091d;
  --secondary-color: #0f0830;
  --accent-color: #5130ef;
  --shadow-primary: rgba(24, 22, 35, 0.6);
  --text-color: #eceaf5;
  --shadow-nav: #eceaf5;
  --shadow-toggle-darkmode: #f1effacf;
}

[theme="light"] {
  --background-color: #e3e7ef;
  --primary-color: #0d091d;
  --secondary-color: #0f0830;
  --accent-color: #5130ef;
  --shadow-primary: rgba(24, 22, 35, 0.6);
  --text-color: #0c0a15;
  --shadow-nav: rgba(24, 22, 35, 0.6);
  --shadow-toggle-darkmode: #1e1e1fcf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  width: 100%;
  background-color: var(--background-color);
}

/* GLOBAL STYLE  */

.header-text {
  font-size: 24px;
  text-align: center;
  padding: 60px 0;
  color: var(--text-color);
  font-weight: bold;
}

.scroll-to-top {
  position: fixed;
  background-color: var(--accent-color);
  right: 0;
  bottom: 0;
  margin-right: 12px;
  margin-bottom: 12px;
  display: flex;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.scroll-to-top i {
  font-size: 34px;
  color: #f1effa;
}

/* Input container */
.input-container {
  position: relative;
  margin: 40px 0;
}

/* Input field */
.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
  color: #f1effa;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--accent-color);
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: var(--accent-color);
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

.send {
  display: flex;
  justify-content: end;
}

.button {
  color: #f1effa;
  cursor: pointer;
  border: 1px solid var(--background-color);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--accent-color);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: #f1effa;
  box-shadow: 0.25rem 0.25rem var(--accent-color);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

.inverted-border {
  background-color: yellow;
}

.inverted-border:before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 70px;
  right: -25px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 40px;
  box-shadow: 0 -25px 0 0 var(--primary-color);
  z-index: 0;
}

.inverted-border::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 70px;
  left: -25px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 40px;
  box-shadow: 0 -25px 0 0 var(--primary-color);
  z-index: 0;
}

/* END GLOBAL STYLE */

/* NAVBAR */

nav {
  background-color: var(--background-color);
  /* backdrop-filter: blur(100px); */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  width: 100%;
  z-index: 10;
  color: var(--text-color);
  box-shadow: 0 0 4px var(--shadow-nav);
}

nav .logo-nav {
  font-family: "Preahvihear", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar {
  display: flex;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul li {
  text-decoration: none;
  list-style: none;
}

.navbar ul li a {
  margin-right: 10px;
  text-decoration: none;
  color: var(--text-color);
}

.navbar .toggle-darkmode {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 4px var(--shadow-toggle-darkmode);
}

.navbar .toggle-darkmode:hover {
  animation: scaleHover 0.2s forwards;
}

.navbar .toggle-darkmode:active {
  animation: scaleActive 0.2s forwards;
}

/* END NAVBAR */

/* HUMBURGER MENU */

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(3px, -8px);
}

/* END HUMBURGER MENU */

/* CONTAINER SECTION */

/* .container {
  background-color: #333;
} */

/* END CONTAINER SECTION */

/* CONTAINER HOME */

.container .container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* background-color: red; */
  overflow: hidden;
}

.container-home .hero {
  height: 450px;
  width: 100%;
  /* height: ; */
}

.container-home .shape {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--secondary-color);
  height: 235px;
}

.container-home img {
  position: absolute;
  top: -245px;
  width: 250px;
  height: 350px;
  z-index: 2;
  border-radius: 12px;
  box-shadow: 2px 2px 8px var(--shadow-primary);
}

.container-home .img {
  position: absolute;
  top: 0;
  background-color: var(--primary-color);
  backdrop-filter: blur(20px);
  width: 280px;
  height: 120px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-home h1 {
  font-size: 90px;
  position: absolute;
  top: 0;
  left: 120px;
  color: var(--accent-color);
  text-shadow: 3px 3px 7px var(--shadow-primary);
}

.container-home .card-media {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 40px;
  position: absolute;
  top: 40px;
  right: 60px;
  gap: 10px;
}

.card-media .media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 6px var(--shadow-primary);
}

.card-media .media:hover {
  animation: scaleHover 0.2s forwards;
}

.card-media .media:active {
  animation: scaleActive 0.2s forwards;
}

.media a {
  text-decoration: none;
}

.media a i {
  color: white;
  font-size: 32px;
}

/* .media img {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
} */

.container-home .marq-1 {
  font-size: 42px;
  position: absolute;
  bottom: -40px;
  color: #f1effa;
}

.container-home .marq-2 {
  font-size: 42px;
  position: absolute;
  bottom: 10px;
  color: #f1effa;
}

.container-home .shape-circle {
  width: 500px;
  height: 500px;
  background-color: var(--primary-color);
  backdrop-filter: blur(20px);
  position: absolute;
  top: 320px;
  border-radius: 50%;
  box-shadow: 0 -1px 12px var(--shadow-primary);
}

/* END CONTAINER HOME */

/* CONTAINER ABOUT */

#about {
  background-color: var(--secondary-color);
}

.container-about {
  width: 70%;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
}

.container-about .header-text {
  color: #f1effa;
}

.container-about .content-about {
  display: flex;
  justify-content: center;
}

.container-about .shape-1 {
  background-color: burlywood;
  width: 400px;
  height: 400px;
  margin-right: 40px;
}

.content-about .desk {
  width: 60%;
}

.content-about .desk p {
  color: white;
}

.tech-stack .img-shape {
  display: flex;
}

.tech-stack .img-shape .shape-2 {
  background-color: aqua;
  width: 50px;
  height: 50px;
  margin-right: 4px;
}

.tech-stack h4 {
  padding: 20px 0;
}

/* END CONTAINER ABOUT */

/* CONTAINER SKILL */

.container-skill {
  /* background-color: var(--secondary-color); */
  width: 60%;
  margin: 0 auto;
  gap: 10px;
  padding: 0 0 40px 0;
}

.container-skill .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  justify-content: center;
}

.skills .card-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  margin-left: 10px;
  border-radius: 14px;
  background: var(--secondary-color);
  box-shadow: 5px 5px 8px rgba(15, 15, 15, 0.7);
}

.card-skill img {
  width: 80px;
  height: 80px;
}

/* END CONTAINER SKILL */

/* CONTAINER PROJECT */

/* #project {
  background-color: var(--primary-color);
} */

.container-project {
  width: 60%;
  margin: auto;
  padding-bottom: 20px;
}

.container-project .card-project {
  margin: 20px auto;
  height: 500px;
  background-color: white;
  border-radius: 12px;
}

/* END CONTAINER PROJECT */

/* CONTAINER CONTACT */

#contact {
  background-color: var(--secondary-color);
  padding: 0 20px 40px 20px;
}

.container-contact .header-text {
  color: #f1effa;
}

.container-contact form {
  /* background-color: bisque; */
  width: 40%;
  margin: 0 auto;
}

.input-container textarea {
  resize: none;
}

/* END CONTAINER CONTACT */

/* FOOTER */

#footer {
  background-color: var(--primary-color);
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: var(--text-color);
}

/* END FOOTER */

/* ANIMATION */

@keyframes scaleHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes scaleActive {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* END ANIMATION */

/* RESPONSIVE BREAKPOINT */

@media screen and (max-width: 1024px) {
  /* HOME */

  .container-home h1 {
    display: none;
  }

  .container-home .card-media {
    display: none;
  }

  /* END HOME */

  /* ABOUT */
  .container-about {
    width: 100%;
  }

  .container-about .content-about {
    display: flex;
  }

  .container-about .shape-1 {
    background-color: burlywood;
    width: 100%;
    height: 300px;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .content-about .desk {
    width: 100%;
  }

  /* END ABOUT */

  /* PROJECT */

  .container-project {
    width: 100%;
    margin: auto;
    padding: 0 20px 20px 20px;
  }

  .container-project .card-project {
    margin: 20px auto;
    height: 400px;
    background-color: aqua;
  }

  /* END PROJECT */

  /* CONTACT */

  .container-contact form {
    width: 100%;
  }

  /* END CONTACT */
}

@media screen and (max-width: 600px) {
  /* NAVBAR */

  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  nav,
  .navbar,
  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    height: 0;
    overflow: hidden;
    transition: all 1s ease-in;
    padding: 0 20px;
    z-index: 1;
  }

  .navbar.slide {
    height: 250px;
  }

  .navbar ul {
    padding: 12px 0;
  }

  .navbar ul li {
    padding: 4px 0;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar ul .togglemode {
    margin-top: 20px;
  }

  /* END NAVBAR */

  /* HOME */

  .container-home h1 {
    display: none;
  }

  .container-home .card-media {
    display: none;
  }

  /* END HOME */

  /* ABOUT */
  .container-about {
    width: 100%;
  }

  .container-about .content-about {
    display: block;
  }

  .container-about .shape-1 {
    background-color: burlywood;
    width: 100%;
    height: 300px;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .content-about .desk {
    width: 100%;
  }

  /* END ABOUT */

  /* SKILLS */

  .container-skill {
    width: 100%;
  }

  .skills .card-skill {
    width: 150px;
    height: 150px;
  }

  .card-skill img {
    width: 75px;
    height: 75px;
  }

  /* END SKILLS */

  /* PROJECT */

  .container-project {
    width: 100%;
    margin: auto;
    padding: 0 20px 20px 20px;
  }

  .container-project .card-project {
    margin: 20px auto;
    height: 400px;
    background-color: aqua;
  }

  /* END PROJECT */

  /* CONTACT */

  .container-contact form {
    width: 100%;
  }

  /* END CONTACT */
}
