@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --dark-primary-color: #0f0f0f;
  --dark-secondary-color: #191919;
  --dark-black-color: #272829;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  width: 100%;
  /* overflow-x: hidden; */
}

/* GLOBAL STYLE  */

.header-text {
  font-size: 24px;
  text-align: center;
  padding: 50px 0;
  color: white;
  font-weight: bold;
}

.scroll-to-top {
  position: fixed;
  background-color: red;
  right: 0;
  bottom: 0;
  margin-right: 12px;
  margin-bottom: 12px;
  display: flex;
  place-content: center;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.scroll-to-top img {
  width: 30px;
  height: 30px;
}

form .form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.form-input .form-control {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 10px;
  border: none;
  transition: all 0.2s;
}

.form-control:focus-visible {
  outline: 2px solid blue;
}

.inverted-border {
  background-color: yellow;
}

.inverted-border:before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 50px;
  right: -45px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 40px;
  box-shadow: 0 -25px 0 0 var(--dark-black-color);
  z-index: 0;
}

.inverted-border::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 50px;
  left: -45px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 40px;
  box-shadow: 0 -25px 0 0 var(--dark-black-color);
  z-index: 0;
}

/* END GLOBAL STYLE */

/* NAVBAR */

nav {
  background-color: var(--dark-primary-color);
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  width: 100%;
  z-index: 10;
  color: white;
}

nav .logo-nav {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar {
  display: flex;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul li {
  text-decoration: none;
  list-style: none;
}

.navbar ul li a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.navbar .toggle-darkmode {
  width: 40px;
  padding: 10px 12px;
  border-radius: 10px;
  background-color: red;
}

/* END NAVBAR */

/* HUMBURGER MENU */

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(3px, -8px);
}

/* END HUMBURGER MENU */

/* CONTAINER SECTION */

/* .container {
  background-color: #333;
} */

/* END CONTAINER SECTION */

/* CONTAINER HOME */

.container .container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: red;
  overflow: hidden;
}

.container-home .hero {
  background-color: var(--dark-secondary-color);
  height: 400px;
  width: 100%;
  /* height: ; */
}

.container-home .shape {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--dark-primary-color);
  height: 235px;
}

.container-home .img {
  position: absolute;
  top: -200px;
  background-color: red;
  width: 200px;
  height: 300px;
}

.container-home .img:nth-child(1) {
  position: absolute;
  top: 0;
  background-color: var(--dark-black-color);
  width: 240px;
  height: 120px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-home .marq-1 {
  font-size: 42px;
  position: absolute;
  bottom: -40px;
  color: white;
}

.container-home .marq-2 {
  font-size: 42px;
  position: absolute;
  bottom: 10px;
  color: white;
}

.container-home .shape-circle {
  width: 500px;
  height: 500px;
  background-color: var(--dark-black-color);
  position: absolute;
  top: 270px;
  border-radius: 50%;
}

/* END CONTAINER HOME */

/* CONTAINER ABOUT */

#about {
  background-color: var(--dark-primary-color);
}

.container-about {
  width: 70%;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
}

.container-about .content-about {
  display: flex;
}

.container-about .shape-1 {
  background-color: burlywood;
  width: 400px;
  height: 400px;
  margin-right: 40px;
}

.content-about .desk {
  width: 50%;
}

.content-about .desk p {
  color: white;
}

.tech-stack .img-shape {
  display: flex;
}

.tech-stack .img-shape .shape-2 {
  background-color: aqua;
  width: 50px;
  height: 50px;
  margin-right: 4px;
}

.tech-stack h4 {
  padding: 20px 0;
}

/* END CONTAINER ABOUT */

/* CONTAINER PROJECT */

#project {
  background-color: var(--dark-secondary-color);
}

.container-project {
  width: 60%;
  margin: auto;
  padding-bottom: 20px;
}

.container-project .card-project {
  margin: 20px auto;
  height: 500px;
  background-color: white;
  border-radius: 12px;
}

/* END CONTAINER PROJECT */

/* CONTAINER CONTACT */

#contact {
  background-color: brown;
  padding: 0 20px 40px 20px;
}

.container-contact form {
  /* background-color: bisque; */
  width: 40%;
  margin: 0 auto;
}

.form-input textarea {
  resize: none;
}

/* END CONTAINER CONTACT */

/* FOOTER */

#footer {
  height: 60px;
  text-align: center;
  line-height: 60px;
}

/* END FOOTER */

/* RESPONSIVE BREAKPOINT */

@media screen and (max-width: 1024px) {
  /* ABOUT */
  .container-about {
    width: 100%;
  }

  .container-about .content-about {
    display: flex;
  }

  .container-about .shape-1 {
    background-color: burlywood;
    width: 100%;
    height: 300px;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .content-about .desk {
    width: 100%;
  }

  /* END ABOUT */

  /* PROJECT */

  .container-project {
    width: 100%;
    margin: auto;
    padding: 0 20px 20px 20px;
  }

  .container-project .card-project {
    margin: 20px auto;
    height: 400px;
    background-color: aqua;
  }

  /* END PROJECT */

  /* CONTACT */

  .container-contact form {
    width: 100%;
  }

  /* END CONTACT */
}

@media screen and (max-width: 600px) {
  /* NAVBAR */

  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  nav,
  .navbar,
  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--dark-primary-color);
    height: 0;
    overflow: hidden;
    transition: all 1s ease-in;
    padding: 0 20px;
    z-index: 1;
  }

  .navbar.slide {
    height: 250px;
  }

  .navbar ul {
    padding: 12px 0;
  }

  .navbar ul li {
    padding: 4px 0;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar ul .toggle-darkmode {
    margin-top: 20px;
  }

  /* END NAVBAR */

  /* ABOUT */
  .container-about {
    width: 100%;
  }

  .container-about .content-about {
    display: block;
  }

  .container-about .shape-1 {
    background-color: burlywood;
    width: 100%;
    height: 300px;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .content-about .desk {
    width: 100%;
  }

  /* END ABOUT */

  /* PROJECT */

  .container-project {
    width: 100%;
    margin: auto;
    padding: 0 20px 20px 20px;
  }

  .container-project .card-project {
    margin: 20px auto;
    height: 400px;
    background-color: aqua;
  }

  /* END PROJECT */

  /* CONTACT */

  .container-contact form {
    width: 100%;
  }

  /* END CONTACT */
}
